<tr id="mapping_row_{{ mapping.getId }}">
    <th scope="row">
        <input type="checkbox" class="checkbox-select-row custom-checkbox" data-id="{{ mapping.getId }}" />
        <span class="input-rfid" data-orig="{{ mapping.getRfid|base64_encode }}">{{ mapping.getRfid }}</span>
    </th>
    <td class="input-additional-information" data-orig="{{ mapping.getAdditionalInformation|base64_encode }}">
        {{ mapping.getAdditionalInformation }}
    </td>
    <td>
        <div class="form-inline">
<!--            <button type="button" data-id="{{ mapping.getId }}" class="btn btn-primary mapping-detail">

            </button>-->

            <div class="col-lg-2">
                Local Path:
            </div>
            <div class="col-lg-10 input-local-path" data-orig="{{ mapping.getLocalPath|base64_encode }}">
                {{ mapping.getLocalPath }}
            </div>

            <div class="col-lg-2">
                LMS Path:
            </div>
            <div class="col-lg-10 input-lms-path" data-orig="{{ mapping.getLmsPath|base64_encode }}">
                {{ mapping.getLmsPath }}
            </div>
            <div class="col-lg-10 input-client-id d-none" data-orig="{{ mapping.getClient.getId|base64_encode }}">
                {{ mapping.getClient.getId }}
            </div>
            <div class="col-lg-10 input-media-type-id d-none" data-orig="{{ mapping.getMediaType.getId|base64_encode }}">
                {{ mapping.getMediaType.getId }}
            </div>

        </div>
    </td>
    <td class="text-right row-options">
        {% include 'mapping/row_options.html.twig' with {'id': mapping.getId} only %}
    </td>
</tr>
